/* Define a class for your table */
.cookie-table {
  border-collapse:collapse;
  width: 50%;
  margin: 1vw;
}

/* Apply styles to table headers (th) */
.cookie-table th {
  border: 1px solid; color: black;
  padding: .5vw;
  text-align: center;
  background-color: lightgrey;
}

/* Apply styles to table cells (td) */
.cookie-table td {
  border: 1px solid; color: black;
  padding: .5vw;
  text-align: center;
}

main section {
padding: 10px;
}
main section h2 {

}

main section p {

}
